* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.tile {
  width: 11%;
  height: 30px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  text-align: center;
}

.board {
  max-width: 600px;
  max-height: 600px;
}
.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 60px;
}

.buttons button {
  margin: 20px;
  width: 120px;
  height: 40px;
  color: brown;
  font-weight: bold;
}

.info {
  font-size: 30px;
  color: blue;
  text-align: center;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  padding: 10px 25px 25px;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  text-align: center;
  position: relative;
}
