* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.tile {
  width: 11%;
  height: 30px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  text-align: center;
}

.board {
  max-width: 600px;
  max-height: 600px;
}
.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.buttons button {
  margin: 60px 20px 0;
  width: 100px;
  height: 30px;
}
